name: Build Plugin .TapPackage

on: [push, pull_request]

jobs:
  build-ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fix tags
        if: startsWith(github.ref, 'refs/tags/v')
        run: git fetch -f origin ${{ github.ref }}:${{ github.ref }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Package plugins
        run: |
             pushd bin/Release
             ./tap package create ../../package.xml
             popd
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: TapPackage
          retention-days: 14
          path: |
            bin/Release/*.TapPackage